html, body, h1, h2, h3, form, ul {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}

h1, h2, h3 {
	font-weight: normal;
}

@font-face {
	font-family: 'Euro';
	src: url('./fonts/eurof55.ttf');
}

a {
	color: #93d18b;
	text-decoration: none;

	&:hover {
		color: #ddd;
	}
}

body {
	background: #515151;
	overflow: hidden;
	text-align: center;
	font: normal 4mm Euro;
	font-family: 'Euro', 'Arial', 'Verdana', 'Tahoma, Times New Roman', sans-serif;
	color: #fff;
}
	div.top-line {
		width: 100%;
		height: 72px;
		background: url('../images/top-line-bg.png') 0 0 repeat-x;
		position: fixed;
		top: 0;
		left: 0;

		header {
			max-width: 1000px;
			height: 64px;
			text-align: left;
			overflow: hidden;
			margin: 0 auto;

			hgroup {
				margin: 5px 0 5px 5px;
				float: left;
			}
				h1 {
					font-size: 2rem;
				}
				h2 {
					font-size: 1rem;
				}
			nav {
				float: right;

				ul {
					list-style-type: none;

					li {
						float: left;

						a {
							height: 64px;
							display: block;
							padding: 0 1rem;
							border-bottom: 4px solid #5d8855;
							line-height: 60px;
							font-size: 1.2rem;
							cursor: pointer;
							color: #fff;

							&:hover {
								background: #5d8855;
							}
						}
					}
				}
			}
		}
	}

	div.container {
		position: absolute;
		top: 65px;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: auto;
		overflow-x: hidden;

		main {
			height: 100%;
			max-width: 900px;
			margin: 0 auto;
			text-align: left;
			padding: 15px 1rem 0 1rem;

			label, th {
				font-weight: normal;
			}

			span.form-error {
				color: #ff8e8b;
			}

			h2 {
				margin: 2px 0 6px 0;
			}

			section {
				max-width: 900px;
				margin: 0 auto;

				p {
					text-align: justify;
				}

				form {
					width: 204px;
					margin: 0 auto;
					text-align: left;

					input[type="text"], input[type="password"] {
						width: 204px;
						height: 28px;
						background: url('../images/policko.png') 0 0 no-repeat;
						line-height: 24px;
						padding: 0 4px;
						border: 0;
						display: block;
					}
				}
			}

			#chat-messages-area {
				height: calc(~"100% - 2em - 40px");
				border: 1px solid #ddd;
				background: #505050;
				padding: 5px;
				overflow-x: auto;

				p {
					margin: 2px 0;
					span {
						font-weight: bold;
						color: #ff7d49;
					}
				}
			}

			#chat-send-message-area {
				margin-top: 5px;

				input {
					display: block;
					width: 100%;
				}
			}

			.chat-rooms-list {
				margin: 10px 0;
			}
		}
	}
