{block content}
	{*<section>*}
		{*<h2>{define title}Domů{/define}</h2>*}

		{*{$test[$param]}*}

		{*{co se stane?}*}

		{link Main::show::$test[$param].x [test:'smrdi']}

		{*{=(Math.round($param) + 100).toString() + "param"}*}


		FOREACH:<br>
		{foreach [9, 2, 10, 4, 5] in $item}
			{$item} - {=[9, 2, 10, 4, 5][$item]}<br>
		{/foreach}
		END:<br>

		FOR i = 1; i < 3:
		{for $i = 1; $i < 3; $i++}
			$i: {$i}<br>


			FOREACH:<br>
			{foreach [9, 2, 10, 4, 5] in $item}
				{$item} - {=[9, 2, 10, 4, 5][$item]}<br>
			{/foreach}
			END:<br>
		{/for}
		END;<br>

		<br>
		{for $e = 1; $e <= 3; $e++}
			{for $i = 1; $i < 3; $i++}
				{$e} - {$i}<br>
			{/for}
			<br>
			{for $i = 6; $i < 9; $i++}
				{$e} - {$i}<br>
			{/for}
		{/for}
		<br>
		{for $i = 1; $i < 3; $i++}
			{$i}<br>
		{/for}



		{*<p>*}
			{*Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ullamcorper neque scelerisque,*}
			{*congue sapien eget, elementum turpis. Pellentesque quam erat, ornare in felis in,*}
			{*pharetra consequat justo. Sed dictum felis lacus, eget ultrices ipsum malesuada quis.*}
			{*Nunc in est sit amet sapien dictum rutrum eget a mi. Suspendisse vel tincidunt est.*}
			{*Donec laoreet lobortis ex vehicula dapibus. Proin fermentum vehicula magna a ornare.*}
			{*Suspendisse potenti. Phasellus semper urna id magna vehicula pellentesque. Morbi auctor faucibus dignissim.*}
		{*</p>*}
		{*<p>*}
			{*Nunc sit amet lorem faucibus, ultricies risus ac, auctor neque. Nunc ut purus massa.*}
			{*Praesent mollis justo sem, nec maximus lorem tempus vel. Aenean et luctus nisl.*}
			{*Ut varius eros non nulla mollis, maximus aliquet nisl blandit. Nam sodales tincidunt turpis,*}
			{*vel pharetra nulla interdum at. Pellentesque ullamcorper tortor sed velit facilisis,*}
			{*pellentesque elementum velit porttitor. Phasellus iaculis ex sit amet sem accumsan tincidunt.*}
			{*Sed a felis tincidunt, dapibus nulla in, maximus orci. Pellentesque vel congue lacus, in bibendum ligula.*}
			{*Nunc posuere vestibulum orci, ultricies ornare tortor maximus vel.*}
			{*Fusce ac sapien sit amet sem condimentum condimentum sit amet quis tellus.*}
			{*Nulla in nulla eu risus tincidunt aliquam id ut dolor. Nulla suscipit dolor est,*}
			{*vitae scelerisque justo auctor et.*}
		{*</p>*}
	{*</section>*}
	{*<section style="display: none;">*}
		{*<h2>Registrace</h2>*}
		{*<form method="post" action="#">*}
			{*<label>*}
				{*E-mail*}
				{*<input type="text" name="email" value="@">*}
			{*</label>*}
			{*<label>*}
				{*Heslo*}
				{*<input type="password" name="pass">*}
			{*</label>*}
			{*<label>*}
				{*Přezdívka*}
				{*<input type="text" name="nick">*}
			{*</label>*}
			{*<label>*}
				{*Souhlasím s pravidly <input type="checkbox" name="pravidla">*}
			{*</label>*}
			{*<button name="submit">Registrovat se</button>*}
		{*</form>*}
	{*</section>*}
{/block}