{block content}
	Test
	Přejít z adminu na www klikntím <a href="{link Www:Main::show}">ZDE</a>
	<a href="{link Main::show}">RELOAD</a>

	<input type="button" value="Send GET" onclick="jumbo.xhr.get('{link Www:Rest::bridge::todolist}', function(data) { console.log(data); })">
	<input type="button" value="Send POST" onclick="jumbo.xhr.post('{link Www:Rest::bridge}', {data: 'POSTasdasddsfadfasdfasdfasdf'}, function(data) { console.log(data); })">
	<input type="button" value="Send PUT" onclick="jumbo.xhr.put('{link Www:Rest::bridge}', {data: 'PUTasdasddsfadfasdfasdfasdf'}, function(data) { console.log(data); })">
	<input type="button" value="Send DELETE" onclick="jumbo.xhr.delete('{link Www:Rest::bridge::todoitem [id: '1']}', function(data) { console.log(data); })">
{/block}